<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if title != site.items.title %}
        {{ title }} — 
      {% endif %}
      {{ site.items.title }}
    </title>
    {% if page.url.includes('posts') %}
      <link rel="canonical" href={{ "https://3dvkr.github.io" + page.url | url }}>
    {% endif %}
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <script async data-respect-dnt src="https://cdn.splitbee.io/sb.js"></script>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  </head>
  <body>
    <input type="checkbox" class="checkbox" />
    <div class="moon-shadow"></div>
    <div class="color-scheme-wrapper">
    {% include "partials/site-head.html" %}
    <main tabindex="-1" id="main-content">
      {% block content %}
      {% endblock %}
    </main>
  </div>
  </body>

  <script>
    const prefersDarkMode = window.matchMedia("(prefers-color-scheme:dark)").matches; 
    const checkbox = document.querySelector(".checkbox");
    if (prefersDarkMode) checkbox.checked = true;
  </script>

</html>
