* {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}
.site_title {
    font-size: larger;
}
.date {
    font-family: 
        /* "Andalé Mono",  */
        "American Typewriter",
        monospace;
}

/* layout --------------------------------------- */
main, header {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

nav, ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    padding-left: 2rem;
}

.feed-box {
    display: grid;
    grid-template-columns: 15fr 85fr;
    gap: 3ch;
}
