* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box
}

main, header {
    max-width: 600px;
    margin: 0 auto;
}

nav, ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    padding-left: 2rem;
}

.site_title {
    font-size: larger;
}

/* layout */

.feed-box {
    display: grid;
    grid-template-columns: 15fr 85fr;
    gap: 3ch;
}
