:root {
  --clr-accent: 45;
  --clr-main: 200;
  --gradient-style: radial-gradient(
    circle,
    #f6ff1c,
    #ffdc00,
    #ffb800,
    #ff951a
  );
  --gradient-size: 8px;
  --gradient-shadow: #ffb800;
}
.checkbox:not(:checked) ~ * {
  --clr-accent-200: hsl(var(--clr-accent), 35%, 10%);
  --clr-accent-400: hsl(var(--clr-accent), 40%, 25%);
  --clr-accent-600: hsl(var(--clr-accent), 45%, 35%);
  --clr-accent-800: hsl(var(--clr-accent), 35%, 90%);

  --clr-main-200: hsl(var(--clr-main), 35%, 12%);
  --clr-main-400: hsl(var(--clr-main), 35%, 50%);
  --clr-main-600: hsl(var(--clr-main), 35%, 70%);
  --clr-main-800: hsl(var(--clr-main), 35%, 95%);
}
.checkbox:checked ~ * {
  /* if checked, it's dark mode */  
  --clr-accent-800: hsl(var(--clr-accent), 35%, 20%);
  --clr-accent-400: hsl(var(--clr-accent), 50%, 50%);
  --clr-accent-600: hsl(var(--clr-accent), 55%, 60%);
  --clr-accent-200: hsl(var(--clr-accent), 35%, 95%);

  --clr-main-800: hsl(var(--clr-main), 35%, 12%);
  --clr-main-600: hsl(var(--clr-main), 35%, 20%);
  --clr-main-400: hsl(var(--clr-main), 35%, 50%);
  --clr-main-200: hsl(var(--clr-main), 35%, 70%);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: 0;
    position: fixed;
    z-index: 2;
    top: 1em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-image: var(--gradient-style);
    box-shadow: 0 0 14px var(--gradient-size) var(--gradient-shadow);
    cursor: pointer;
  }

.moon-shadow {
  height: 1.5ch;
  z-index: 3;
  position: fixed;
  top: 1em;
  right: 1em;
  border-radius: 50%;
  width: 1.5ch;
  background: black;
}
.checkbox:checked {
  box-shadow: none;
}
.checkbox:not(:checked) + .moon-shadow {
  display: none;
}

  
* {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  text-underline-offset: 0.3em;
}
pre,
code,
.token {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Andale Mono",
    "Ubuntu Mono", monospace;
  font-weight: 600;
  font-size: inherit;
}
p pre,
p code {
  font-size: 0.9rem;
}

.site_title {
  font-size: larger;
}
.date {
  font-family: "American Typewriter", monospace;
}

/* layout --------------------------------------- */
main,
header {
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem;
}

nav,
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  padding-left: 2rem;
}

.feed-box {
  display: grid;
  grid-template-columns: 30fr 70fr;
  gap: 3ch;
}
.featured--post .blog-title {
  padding-left: 0.25rem;
}
.excerptP {
  padding-left: 1rem;
}
#availableTags {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3ch;
}
.featured--post {
  display: grid;
  grid-template-rows: 35%;
}

/* Styles --------------- */
.color-scheme-wrapper {
  background-color: var(--clr-main-800);
  outline: 70ch solid var(--clr-main-800);
  color: var(--clr-accent-200);
}
.excerptP {
  font-style: italic;
}
a {
  color: hsl(191, 43%, 49%);
  color: var(--clr-accent-400);
}
a:hover {
  color: hsl(202, 96%, 19%);
  color: var(--clr-accent-600);
}

.featured--post {
  padding: 0 0.75em;
  outline: medium solid hsl(202, 96%, 19%);
  outline: medium solid var(--clr-accent-200);
  border-radius: 0.5em;
}


/* Dark mode ------------ */

@media (prefers-color-scheme: dark) {
    
  pre {
    background: hsl(70, 8%, 11%);
  }
}

@media (max-width: 750px) {
  .featured {
    grid-template-columns: 1fr;
  }
  .featured--excerpt {
    display: none;
  }
  .featured--post {
    margin: 0.5rem max(2rem, 15vw);
  }
}
