---
title: "About Me"
---
{% extends "layouts/base.html" %}
{% block content %}
<h2>Hello!</h2>

<p>I'm dvkr, a full stack dev, and I write here.</p>

<p>The blog's name comes from hearing lots of recommendations on what to do or learn, and comparatively little in the way of guiding the execution. It's also a nod to a blog I enjoy reading very much: Wait, But Why? by Tim Urban.</p>

<p>I usually figure out what to do here by answering one of these questions:</p>
<ul>
    <li>How can [X] be better? How can it be fun?</li>
    <li>How can we improve the 'tried-and-true' language or analogies used to explain something?</li>
    <li>How do we address the challenges of new devs, especially from non-traditional backgrounds?</li>
</ul>

<p>This blog is a quiet corner of an otherwise bustling internet, but I'd love to hear from you! You can find me on <a href="{{site.items.twitter}}">twitter</a>.</p>

{% endblock %}